@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
    font-family: Nexa;
    src: url(../fonts/NexaRegular.otf);
}
@font-face {
    font-family: Nexa;
    src: url(../fonts/NexaBold.otf);
    font-weight: bold;
}

/* font settings */
.font-nexa {
    font-family: "Nexa" !important;
}
.font-archivo {
    font-family: "Archivo" !important;
}
.font-lato {
    font-family: "Lato" !important;
}

.font-weight-regular {
    font-weight: 400 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-weight-black {
    font-weight: 900 !important;
}

/* text settings */
.text-gawedata {
    color: #3f60f5;
}
.text-gawedata:hover {
    color: #3f60f5;
}
.text-gray {
    color: #adb3bc;
}
.text-yellow {
    color: #FFC107;
}
.text-green {
    color: #49D479;
}

.text-decoration-none {
    text-decoration: none;
}

/* button settings */
.btn-gawedata {
    background-color: #3f60f5;
    color: #fff;
    border-radius: 12px;
}

/* form settings */
input:focus {
    border: none;
    border-color: transparent;
}
.input-text {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #fbfbfb;
    border-radius: 12px;
}
.input-text:focus {
    background-color: #fff;
}
.input-select {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border: 1px solid;
    border-color: #d1d6eb;
    border-radius: 12px;
    width: 10vw;
}

/* other */
.cursor-pointer {
    cursor: pointer;
}

/* navbar settings */
#profile-menu-box {
    display: none;
    position: absolute;
    width: 5vw;
    height: 10vw;
    top: 0;
    right: 0;
}
#profile-menu {
    position: absolute;
    width: 20vw;
    top: 5rem;
    right: 0;
    background: #ffffff;
    box-shadow: 0px 4px 37px rgba(0, 15, 81, 0.06);
    border-radius: 24px;
    z-index: 100;
}
.profile-quota-box {
    background-color: #eef0f5;
    border-radius: 12px;
    width: 100%;
    height: 1vh;
}
.profile-quota {
    background-color: #ffd54f;
    border-radius: 12px;
    height: 1vh;
}
#user-profile:hover + #profile-menu-box {
    display: block;
}
#profile-menu-box:hover {
    display: block;
}

/* user page */
#user-sidebar li a {
    color: grey !important;
}
#user-sidebar li.active {
}
#user-sidebar li.active a {
    color: #3f60f5 !important;
}

.active-border {
    border-left: 6px solid #3f60f5 !important;
    border-radius: 6px;
}

/* home */
.card-survey-grid{
    border: 0 !important;
    border-radius: 18px;
    box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.06);
}
.card-survey-grid .card-header,
.card-survey-grid .card-footer {
    border: 0 !important;
    background-color: #fff;
}
